<NAV class="uk-navbar uk-margin-large-bottom">
	<A class="uk-navbar-brand uk-hidden-small" href="">Brand</A>
	<UL class="uk-navbar-nav uk-hidden-small">
		
		<LI{% if not click_category_id %} class="uk-active"{% endif %}><A href="{{ url_for('main.index', _external=True) }}">主页</A></LI>
		
			{% for category in categories %}
				{% if not click_category_id %}
				<LI><A href=" {{ url_for('main.view_category', id=category.id, _external=True) }}">{{ category.name }}</A></LI>
				{% else %}
					{% if click_category_id == category.id %}
					<LI class="uk-active"><A href=" {{ url_for('main.view_category', id=category.id, _external=True) }}">{{ category.name }}</A></LI>
					{% else %}
					<LI><A href=" {{ url_for('main.view_category', id=category.id, _external=True) }}">{{ category.name }}</A></LI>
					{% endif %}
				{% endif %}
			{% endfor %}
			
	</UL>
	<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
    <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
</NAV>