<META content="IE=11.0000" http-equiv="X-UA-Compatible">
<META charset="utf-8">         
<META name="viewport" content="width=device-width, initial-scale=1">         
<TITLE>Blog layout example - UIkit documentation</TITLE>         
<LINK href="{{ url_for('static', filename='client/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">         
<LINK href="{{ url_for('static', filename='client/apple-touch-icon.png') }}" rel="apple-touch-icon-precomposed">         
<LINK href="{{ url_for('static', filename='client/uikit.docs.min.css') }}" rel="stylesheet">         
<SCRIPT src="{{ url_for('static', filename='client/jquery.js') }}"></SCRIPT>
<SCRIPT src="{{ url_for('static', filename='client/uikit.min.js') }}"></SCRIPT> 
<META name="GENERATOR" content="MSHTML 11.00.9600.16412">