{% macro pagination_widget(pagination, endpoint) %}
<UL class="uk-pagination">
	<LI{% if not pagination.has_prev %} class="uk-disabled"{% endif %}>
		{% if pagination.has_prev %}
		<a href="{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}"">&laquo;</a>
		{% else %}
		<SPAN>&laquo;</SPAN>
		{% endif %}
		</a>
	</LI>
	
	{% for p in pagination.iter_pages() %}
		{% if p %}
			{% if p == pagination.page %}
			<LI class="uk-active">
				<SPAN>{{ p }}</SPAN>
			</LI>
			{% else %}
			<LI>
				<A href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</A>
			</LI>
			{% endif %}
		{% else %}
		<LI class="uk-disabled"><a href="#">&hellip;</a></LI>
		{% endif %}
	{% endfor %}
	
	<LI{% if not pagination.has_next %} class="uk-disabled"{% endif %}>
		{% if pagination.has_next %}
		<a href="{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}"">&raquo;</a>
		{% else %}
		<SPAN>&raquo;</SPAN>
		{% endif %}
		</a>
	</LI>
</UL>
{% endmacro %}



{% macro pagination_widget_comment(pagination, endpoint, postId, categoryId=0) %}
<UL class="uk-pagination">
	<LI{% if not pagination.has_prev %} class="uk-disabled"{% endif %}>
		{% if pagination.has_prev %}
		<a href="{{ url_for(endpoint, id=postId, page = pagination.page - 1, **kwargs) }}"">&laquo;</a>
		{% else %}
		<SPAN>&laquo;</SPAN>
		{% endif %}
		</a>
	</LI>
	
	{% for p in pagination.iter_pages() %}
		{% if p %}
			{% if p == pagination.page %}
			<LI class="uk-active">
				<SPAN>{{ p }}</SPAN>
			</LI>
			{% else %}
			<LI>
				<A href="{{ url_for(endpoint, id=postId, page = p, categoryId=categoryId, **kwargs) }}">{{ p }}</A>
			</LI>
			{% endif %}
		{% else %}
		<LI class="uk-disabled"><a href="#">&hellip;</a></LI>
		{% endif %}
	{% endfor %}
	
	<LI{% if not pagination.has_next %} class="uk-disabled"{% endif %}>
		{% if pagination.has_next %}
		<a href="{{ url_for(endpoint, id=postId, page = pagination.page + 1, **kwargs) }}"">&raquo;</a>
		{% else %}
		<SPAN>&raquo;</SPAN>
		{% endif %}
		</a>
	</LI>
</UL>
{% endmacro %}


{% macro pagination_widget_timeline(pagination, endpoint, month, year) %}
<UL class="uk-pagination">
	<LI{% if not pagination.has_prev %} class="uk-disabled"{% endif %}>
		{% if pagination.has_prev %}
		<a href="{{ url_for(endpoint, month=month, year=year, page = pagination.page - 1, **kwargs) }}"">&laquo;</a>
		{% else %}
		<SPAN>&laquo;</SPAN>
		{% endif %}
		</a>
	</LI>
	
	{% for p in pagination.iter_pages() %}
		{% if p %}
			{% if p == pagination.page %}
			<LI class="uk-active">
				<SPAN>{{ p }}</SPAN>
			</LI>
			{% else %}
			<LI>
				<A href="{{ url_for(endpoint, month=month, year=year, page = p, **kwargs) }}">{{ p }}</A>
			</LI>
			{% endif %}
		{% else %}
		<LI class="uk-disabled"><a href="#">&hellip;</a></LI>
		{% endif %}
	{% endfor %}
	
	<LI{% if not pagination.has_next %} class="uk-disabled"{% endif %}>
		{% if pagination.has_next %}
		<a href="{{ url_for(endpoint, month=month, year=year, page = pagination.page + 1, **kwargs) }}"">&raquo;</a>
		{% else %}
		<SPAN>&raquo;</SPAN>
		{% endif %}
		</a>
	</LI>
</UL>
{% endmacro %}