<DIV class="uk-width-medium-3-4">
			{% for post in posts %}
			<ARTICLE class="uk-article">
				<H1 class="uk-article-title">{{ post.title }}</H1>
				<P class="uk-article-meta">Written by {{ post.user.name }} on {{post.post_time }} Posted</P>
				{{ post.content | safe }}
				<P>
					<A class="uk-button uk-button-primary" href="{{ url_for('main.view_post',id=post.id) }}">继续</A>
					<A class="uk-button" href="javascript:void(0)">{{ post.comments.count() }} 评论</A>
				</P>
			</ARTICLE>
			{% endfor %}
			
			{% import "_macros.html" as macros %}
			{{ macros.pagination_widget(pagination, 'main.index') }}
			<!-- <UL class="uk-pagination">
				<LI class="uk-disabled"><a>&laquo;</a></LI>
				<LI class="uk-active"><SPAN>1</SPAN></LI>
				<LI><A href="">2</A></LI>
				<LI><A href="">3</A></LI>
				<LI><A href="">4</A></LI>
				<LI><SPAN>...</SPAN></LI>
				<LI><A href="">20</A></LI>
				<LI><A href=""><I class="uk-icon-angle-double-right"></I></A></LI>
			</UL>
			-->
</DIV>