<DIV class="uk-width-medium-1-4">
		<DIV class="uk-panel uk-panel-box uk-text-center">
			<IMG width="120" height="120" class="uk-border-circle" alt="" src="http://www.gravatar.com/avatar/d4c74594d841139328695756648b6bd6?s=120&default=identicon&rating=g" />             
			<H3>Cool firer</H3>
			<P>洞察</P>
		</DIV>
		<DIV class="uk-panel">
			<H3 class="uk-panel-title">最新发布</H3>
			<UL class="uk-list uk-list-line">
				{% for post in recent_posts %}
					<LI><A href="{{ url_for('main.view_post', id=post.id) }}">{{ post.title }}</A></LI>
				{% endfor %}
			</UL>
		</DIV>
		<DIV class="uk-panel">
			<H3 class="uk-panel-title">时间传送</H3>
			<UL class="uk-list uk-list-line">
				{% for year_month, post_count in year_month_post_dict.items() %}
				<LI><A href="{{ url_for('main.view_timeline', month=year_month | split(0), year=year_month | split(1)) }}">{{ year_month }} ({{ post_count }})</A></LI>
				{% endfor %}
			</UL>
		</DIV>
		<DIV class="uk-panel">
			<H3 class="uk-panel-title">有情连接</H3>
			<UL class="uk-list">
				<LI><A href="">GitHub</A></LI>
				<LI><A href="">Twitter</A></LI>
				<LI><A href="">Facebook</A></LI>
			</UL>
		</DIV>