<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>blog管理员</title>
    <link href="{{ url_for('static', filename='admin/css/default.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/js/themes/default/easyui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/js/themes/icon.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery-1.4.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.easyui.min.1.2.2.js') }}"></script>
	<script type="text/javascript">
	
	function savereg() {
	
		
		$('#ff').submit();
	
		/*$.messager.show({
			title:'提示',
			msg:'添加成功.',
			timeout:4000,
			showType:'slide'
		});
		*/
	}
	
	</script>
</head>
<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">
<p />
<p />
<form id="ff" method="post">
	<table>
		<tr>
			<td>类别名称:</td>
			<td><input type="text" class="easyui-validatebox" required="true" id="name" name="name" style="width:350px;"/></td>
		</tr>
	</table>
	<p />
	<div id="dlg-buttons">
		<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="savereg()">增加</a>
	</div>
</form>
<script>
$('#ff').form({
			url:'{{ url_for('admin.category_add') }}',
			onSubmit:function(){
				return $(this).form('validate');
			},
			success:function(data){
				if (data == "0") {
					$.messager.show({
						title:'提示',
						msg:'添加成功.',
						timeout:4000,
						showType:'slide'
					});
					$('#name').attr("value","");
				}
				else {
					$.messager.alert('Info', data, 'info');
				}
				
			}
		});

</script>
</body>
</html>