<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
	<meta charset="UTF-8">
	<title>Basic DataGrid - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/css/easyui.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/css/icon.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/css/demo.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.easyui.min.js') }}"></script>
</head>
<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">
<br />
<h2>&nbsp;&nbsp;&nbsp;&nbsp;{{ category.name }}</h2>
	<div style="margin:20px 0;"></div>
	&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="easyui-linkbutton" href="javascript:void(0)" onclick="deleteCategory()">删除此类别</a>
	<p />
	<table class="easyui-datagrid" title="文章列表" style="width:700px;height:250px"
			data-options="singleSelect:true,collapsible:true,url:'datagrid_data1.json',method:'get'">
		<thead>
			<tr>
				<th data-options="field:'itemid',width:80">标题</th>
				<th data-options="field:'listprice',width:80,align:'right'">内容</th>
				<th data-options="field:'unitcost',width:80,align:'right'">发布时间</th>
				<th data-options="field:'attr1',width:250">作者</th>
				<th data-options="field:'status',width:60,align:'center'">类别</th>
			</tr>
		</thead>
		<tbody>
			{% for post in category.posts %}
			<tr>                           
				<td><a href="{{ url_for('admin.post_update_category', id=post.id, _external=True) }}">{{ post.title }}</a></td>
				<td><a href="{{ url_for('admin.post_update_category', id=post.id, _external=True) }}">{{ post.content }}</a></td>   
				<td>{{ post.post_time }}</td>            
				<td>{{ post.user.name }}</td>            
				<td>{{ post.category.name }}</td>                     
			</tr>
			{% endfor %}                      
		</tbody> 
	</table>
	
</body>
<script type="text/javascript">

function deleteCategory() {
	$.messager.confirm('系统提示', '确定删除?', function(r) {

      if (r) {
           $.ajax({            
                  type:"GET",   //
                  url:"{{ url_for('admin.category_delete',id=category.id) }}",        
                  error:function(request) {      //               
                      $("#showMsg").html(request);  //
                  },
                  success:function(data) {
					if (data == "0") {
						$.messager.alert('Info', "删除成功!", 'info');
					}
					parent.location.reload();
                  }            
            });   
       }
  });    
}

</script>
</html>