<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>blog管理员</title>
    <link href="{{ url_for('static', filename='admin/css/default.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/js/themes/default/easyui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/js/themes/icon.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery-1.4.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.easyui.min.1.2.2.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='admin/js/outlook2.js') }}"> </script>
    <script type="text/javascript">
	 var _menus = {"menus":[
						{"menuid":"1","icon":"icon-sys","menuname":"类别管理",
							"menus":[
									{% for category in categories %}
										{"menuid":"{{ category.id }}","menuname":"{{ category.name }}","icon":"icon-users","url":"{{ url_for('admin.category', id=category.id, _external=True) }}"},
									{% endfor %}
									/*{"menuid":"13","menuname":"java","icon":"icon-users","url":""},
									{"menuid":"14","menuname":"python","icon":"icon-role","url":""},
									{"menuid":"15","menuname":"移动应用","icon":"icon-set","url":""},
									{"menuid":"16","menuname":"生活小杂","icon":"icon-log","url":""},
									*/
									{"menuid":"12","menuname":"新增类别","icon":"icon-add","url":"{{ url_for('admin.category_add', _external=True) }}"}							
								]
						},
						{"menuid":"8","icon":"icon-sys","menuname":"文章管理",
							"menus":[
									{% for year_month, post_count in year_month_post_dict.items() %}
									{"menuid":"21","menuname":"{{ year_month }} ({{ post_count }})","icon":"icon-nav","url":"{{ url_for('admin.category_year_month', year_month=year_month, _external=True) }}"},
									{% endfor %}
									{"menuid":"13","menuname":"写文章","icon":"icon-add","url":"{{ url_for('admin.post_write', _external=True) }}"}	
								]
						},
						{"menuid":"56","icon":"icon-sys","menuname":"用户管理",
							"menus":[
									{"menuid":"31","menuname":"添加部门","icon":"icon-nav","url":""},
									{"menuid":"32","menuname":"部门列表","icon":"icon-nav","url":""}
								]
						}
				]};
        //设置登录窗口
        function openPwd() {
            $('#w').window({
                title: '修改密码',
                width: 300,
                modal: true,
                shadow: true,
                closed: true,
                height: 160,
                resizable:false
            });
        }
        //关闭登录窗口
        function closePwd() {
            $('#w').window('close');
        }

        //修改密码
        function serverLogin() {
            var $newpass = $('#txtNewPass');
            var $rePass = $('#txtRePass');

            if ($newpass.val() == '') {
                msgShow('系统提示', '请输入密码！', 'warning');
                return false;
            }
            if ($rePass.val() == '') {
                msgShow('系统提示', '请在一次输入密码！', 'warning');
                return false;
            }

            if ($newpass.val() != $rePass.val()) {
                msgShow('系统提示', '两次密码不一至！请重新输入', 'warning');
                return false;
            }

            $.post('/ajax/editpassword.ashx?newpass=' + $newpass.val(), function(msg) {
                msgShow('系统提示', '恭喜，密码修改成功！<br>您的新密码为：' + msg, 'info');
                $newpass.val('');
                $rePass.val('');
                close();
            })
            
        }

        $(function() {

            openPwd();

            $('#editpass').click(function() {
                $('#w').window('open');
            });

            $('#btnEp').click(function() {
                serverLogin();
            })

			$('#btnCancel').click(function(){closePwd();})

            $('#loginOut').click(function() {
                $.messager.confirm('系统提示', '您确定要退出本次登录吗?', function(r) {

                    if (r) {
                        location.href = '{{ url_for('admin.logout') }}';
                    }
                });
            })
        });
		
		

    </script>

</head>
<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">
<noscript>
	<div style=" position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;">
		<img src="{{ url_for('static', filename='admin/images/noscript.gif') }}" alt='抱歉，请开启脚本支持！' />
	</div>
</noscript>

    <div region="north" split="true" border="false" style="overflow: hidden; height: 30px;
        background: url({{ url_for('static', filename='admin/images/layout-browser-hd-bg.gif') }}) #7f99be repeat-x center 50%;
        line-height: 20px;color: #fff; font-family: Verdana, 微软雅黑,黑体">
        <span style="float:right; padding-right:20px;" class="head">欢迎 {{ username }} <a href="#" id="editpass">修改密码</a> <a href="#" id="loginOut">安全退出</a></span>
        <span style="padding-left:10px; font-size: 16px; " />
    </div>
	
    <div region="south" split="true" style="height: 30px; background: #D2E0F2; ">
        <div class="footer">powered by jQuery, Authored by jc</div>
    </div>
	
    <div region="west" hide="true" split="true" title="导航菜单" style="width:180px;" id="west">
		<div id="nav" class="easyui-accordion" fit="true" border="false">
		<!--  导航内容 -->
		</div>
    </div>
	
    <div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">
        <div id="tabs" class="easyui-tabs"  fit="true" border="false" >
			<div title="欢迎使用" style="padding:20px;overflow:hidden; color:red; ">
				<h1 style="font-size:24px;">* BLOG: <a style="font-size:24px;color:green;" href="http://www.cnblogs.com/cool-fire/">留校察看的博客</a></h1>
			</div>
		</div>
    </div>
    
    
    <!--修改密码窗口-->
    <div id="w" class="easyui-window" title="修改密码" collapsible="false" minimizable="false"
        maximizable="false" icon="icon-save"  style="width: 300px; height: 150px; padding: 5px;
        background: #fafafa;">
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
                <table cellpadding=3>
                    <tr>
                        <td>新密码：</td>
                        <td><input id="txtNewPass" type="Password" class="txt01" /></td>
                    </tr>
                    <tr>
                        <td>确认密码：</td>
                        <td><input id="txtRePass" type="Password" class="txt01" /></td>
                    </tr>
                </table>
            </div>
            <div region="south" border="false" style="text-align: right; height: 30px; line-height: 30px;">
                <a id="btnEp" class="easyui-linkbutton" icon="icon-ok" href="javascript:void(0)" >
                    确定</a> <a id="btnCancel" class="easyui-linkbutton" icon="icon-cancel" href="javascript:void(0)">取消</a>
            </div>
        </div>
    </div>

	<div id="mm" class="easyui-menu" style="width:150px;">
		<div id="mm-tabupdate">刷新</div>
		<div class="menu-sep"></div>
		<div id="mm-tabclose">关闭</div>
		<div id="mm-tabcloseall">全部关闭</div>
		<div id="mm-tabcloseother">除此之外全部关闭</div>
		<div class="menu-sep"></div>
		<div id="mm-tabcloseright">当前页右侧全部关闭</div>
		<div id="mm-tabcloseleft">当前页左侧全部关闭</div>
		<div class="menu-sep"></div>
		<div id="mm-exit">退出</div>
	</div>


</body>
</html>