<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>欢迎合登陆</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/js/themes/icon.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin/js/themes/gray/easyui.css') }}"/>
</head>

<body>
<div id="loginWin" class="easyui-window" title="blog" style="width:350px;height:188px;padding:5px;"
   minimizable="false" maximizable="false" resizable="false" collapsible="false">
    <div class="easyui-layout" fit="true">
            <div region="center" border="false" style="padding:5px;background:#fff;border:1px solid #ccc;">
        <form id="loginForm" method="post">
            <div style="padding:5px 0;">
                <label for="login">用户名:</label>
                <input type="text" name="username" style="width:260px;"></input>
            </div>
            <div style="padding:5px 0;">
                <label for="password">密码:</label>
                <input type="password" name="password" style="width:260px;"></input>
            </div>
             <div style="padding:5px 0;text-align: center;color: red;" id="showMsg"></div>
        </form>
            </div>
            <div region="south" border="false" style="text-align:right;padding:5px 0;">
                <a class="easyui-linkbutton" iconCls="icon-ok" href="javascript:void(0)" onclick="login()">登陆</a>
                <a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onclick="cleardata()">取消</a>
            </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery-1.4.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='admin/js/jquery.easyui.min.1.2.2.js') }}"></script>
<script type="text/javascript">
document.onkeydown = function(e){
    var event = e || window.event;  
    var code = event.keyCode || event.which || event.charCode;
    if (code == 13) {
        login();
    }
}
$(function(){
    $("input[name='login']").focus();
});
function cleardata(){
    $('#loginForm').form('clear');
}
function login(){
     if($("input[name='login']").val()=="" || $("input[name='password']").val()==""){
         $("#showMsg").html("用户名或密码不能为空");
         $("input[name='login']").focus();
    }else{
            //
           $.ajax({            
                  type:"POST",   //
                  url:"login", 
                  data:$("#loginForm").serialize(),   //            
                  error:function(request) {      //               
                      $("#showMsg").html(request);  //
                  },
                 success:function(data) {
					if (data == "1") {
						 $("#showMsg").html("用户名或密码错误");
					}
					else {
						document.location = "{{ url_for('admin.index') }}";
					}
                  }             
            });       
        } 
}
</script>
</html>