<!DOCTYPE HTML>
<!DOCTYPE html PUBLIC "" "">
<HTML lang="en-gb" dir="ltr">
<HEAD>
	{% include "_head.html" %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pagedown.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/Markdown.Converter.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Markdown.Sanitizer.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Markdown.Editor.js') }}"></script>
	
</HEAD>
<BODY>
<DIV class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
	{% include "_category.html" %}
	
	<DIV class="uk-grid" data-uk-grid-margin="">
		
		<DIV class="uk-width-medium-3-4">
			<ARTICLE class="uk-article">
				<H1 class="uk-article-title">{{ post.title }}</H1>
				<P class="uk-article-meta">Written by {{ post.user.name }} on {{post.post_time }} Posted</P>
				{{ post.content | safe }}
				<br /><br /><br />
				{% if pagination.items %}
				<p>留言列表({{ post.comments.count() }})：</p>
				{% for comment in pagination.items %}
                 <div class="uk-panel uk-panel-box uk-text-center-medium">
					<img src="{{ url_for('static', filename='client/placeholder_avatar.svg') }}" width="50" height="50" />
					<span class="uk-text-middle">{{ comment.content_html | safe }}</span>
					<br />
					<p class="uk-text-right">#{{ (pagination.page-1)*7 + loop.index }}楼 {{ comment.timestamp }}</p>
				 </div>
				 <br />
                {% endfor %}
				<p>
					{% import "_macros.html" as macros %}
					{{ macros.pagination_widget_comment(pagination, 'main.view_post', post.id, click_category_id) }}
				</p>
				{% endif %}
				
				<p>用马克荡儿给我留言吧^-^</p>
				<P>
					{% include "_comment.html" %}
				</P>
			</ARTICLE>
		</DIV>
		
		{% include "_right.html" %}
		
	</DIV>
	
</DIV>
</BODY>
</HTML>
