<!DOCTYPE HTML>
<!DOCTYPE html PUBLIC "" "">
<HTML lang="en-gb" dir="ltr">
<HEAD>
	{% include "_head.html" %}
</HEAD>
<BODY>
<DIV class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
	{% include "_category.html" %}
	
	<DIV class="uk-grid" data-uk-grid-margin="">
		
		<DIV class="uk-width-medium-3-4">
			{% for post in pagination.items %}
			<ARTICLE class="uk-article">
				<H1 class="uk-article-title">{{ post.title }}</H1>
				<P class="uk-article-meta">Written by {{ post.user.name }} on {{post.post_time }} Posted</P>
				{{ post.content | safe }}
				<P>
					<A class="uk-button uk-button-primary" href="{{ url_for('main.view_post',id=post.id, categoryId=click_category_id) }}">继续</A>
					<A class="uk-button" href="javascript:void(0)">{{ post.comments.count() }} 评论</A>
				</P>
			</ARTICLE>
			{% endfor %}
			<p>
				{% import "_macros.html" as macros %}
				{{ macros.pagination_widget_comment(pagination, 'main.view_category', click_category_id) }}
			</p>
		</DIV>
		
		{% include "_right.html" %}
		
	</DIV>
	
</DIV>
</BODY>
</HTML>
